<div class="container">
  <div class="row">
      <div *ngFor="let movie of movies" class="col-sm-2">
        <div class="thumbnail">
          <a href="#">
            <img src="assets/images/{{movie.name}}.jpg" alt="{{movie.name}}" style="width:100%">
            <div class="caption">
              <span class="label label-info">{{movie.name}}</span>
              <br>
              <span class="label label-default">{{movie.language}}</span>
            </div>
          </a>
        </div>
      </div>
  </div>
</div>